{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About</h1>

    <p>This app is able to scrape the latest apartment listings from Craigslist to help you find your next home.</p>
    <p>It also calculates commute times to your workplace using the Google Maps Distance Matrix API.</p>
    <p>Simply input your search criteria and preferences, and let the program do the rest!</p>

    <p>This project was created by Andrew Kim at Georgetown University.</p>

{% endblock %}